.Contents
  .Ivent
    = link_to "#", class: "content" do
      建築イベント
  .WhatDay
    = link_to "#", class: "content" do
      今日は何の日
  .Feature
    = link_to "#", class: "content" do
      特集
  .Serialization
    = link_to "#", class: "content" do
      連載
  .NewArrival
    = link_to "#", class: "content" do
      新着情報
  .NewArchitecture
    = link_to "#", class: "content" do
      新建築
  .Recommended
    = link_to "#", class: "content" do
      編集部のおすすめ
  .House
    = link_to "#", class: "content" do
      住宅
  .Library
    = link_to "#", class: "content" do
      図書館
  .Museum
    = link_to "#", class: "content" do
      美術館
  .Hotel
    = link_to "#", class: "content" do
      ホテル
  .CityHall
    = link_to "#", class: "content" do
      市庁舎
  .Commarce
    = link_to "#", class: "content" do
      商業施設
  .Renovation
    = link_to "#", class: "content" do
      リノベーション
  .Conversion
    = link_to "#", class: "content" do
      コンバージョン