.Top
  = form_with(url: search_topics_path, local: true, method: :get) do |f|
    .Header
      .Search
        = f.text_field :keyword, placeholder: 'キーワード（例：隈研吾）', class: 'Form_input'
        = f.submit class: 'Search', value: '検索'
        -# = link_to search_topics_path
      .Title
        = link_to root_path, class: "title" do
          %h1 archi log
      .User
        .User__Icon
          - if @person.icon?
            = image_tag @icon.url, class: 'User__Icon'
        .User__Name
        = link_to current_person.name, "/people/#{current_person.id}"
        .User__Edit
        = link_to edit_person_path(current_person), class: "icons__setting" do
          設定