.Runking
  .Runking__Heading
    オススメ記事
  .Runking__ProjectBox
    .Runking__Picture
    = link_to image_tag("/assets/1.jpg", alt: "image", class: 'Recommended-Pic'), list_1_topics_path
    .Runking__num
      １
    .Runking__Text
      .Runking__Text__Heading
        = link_to list_1_topics_path do
          【東京】新国立競技場がついに竣工！
      .Runking__Text__Writer
        わだこうへいた
  .Runking__ProjectBox
    .Runking__Picture
    = link_to image_tag("/assets/8.jpg", alt: "image", class: 'Recommended-Pic'), list_3_topics_path
    .Runking__num
      ２
    .Runking__Text
      .Runking__Text__Heading
        = link_to list_3_topics_path do
          台湾・新竹市の図書館コン
          %br/
          ペ、平田晃久チームが「知
          %br/
          の峡谷」で最優秀に
      .Runking__Text__Writer
        Archi-TV
  .Runking__ProjectBox
    .Runking__Picture
    = link_to image_tag("/assets/9.jpg", alt: "image", class: 'Recommended-Pic'), list_4_topics_path
    .Runking__num
      ３
    .Runking__Text
      .Runking__Text__Heading
        = link_to list_4_topics_path do
          在来軸組みのカワグチテイ
          %br/
          JV案に、徳島県「awaもく
          %br/
          よんプロジェクト」コンペ
      .Runking__Text__Writer
        Satochi-Chan
  .Runking__ProjectBox
    .Runking__Picture
    = link_to image_tag("/assets/10.jpg", alt: "image", class: 'Recommended-Pic'), list_5_topics_path
    .Runking__num
      ４
    .Runking__Text
      .Runking__Text__Heading
        = link_to list_5_topics_path do
          宮川清志/SESNによる、東
          %br/
          京・港区南青山の、美容ク
          %br/
          リニック「Men’s Clara」
      .Runking__Text__Writer
        わだこうへいた
  .Runking__ProjectBox
    .Runking__Picture
    = link_to image_tag("/assets/11.jpg", alt: "image", class: 'Recommended-Pic'), list_6_topics_path
    .Runking__num
      ５
    .Runking__Text
      .Runking__Text__Heading
        = link_to list_6_topics_path do
          ZAHA Architectureなどを抑えて日建設計が当選
      .Runking__Text__Writer
        NIKKEN.com
  .Runking__ProjectBox
    .Runking__Picture
    = link_to image_tag("/assets/12.jpg", alt: "image", class: 'Recommended-Pic'), list_7_topics_path
    .Runking__num
      ６
    .Runking__Text
      .Runking__Text__Heading
        = link_to list_7_topics_path do
          100者の応募を制したのはパーシモンヒルズ、岩手県住田町の公民館プロポ
      .Runking__Text__Writer
        Poten-Poten
  .Recommend_Heding
    おすすめカテゴリー
  .Recommend_list
    = form_with local: true do |f|
      .Recommend_btn
        .btn
          = link_to '東京都(165)', class: 'btn'
        .btn
          = link_to '伊東豊雄(24)', class: 'btn'
        .btn
          = link_to 'コンペ(83)', class: 'btn'
        .btn
          = link_to 'OMA(46)', class: 'btn'
        .btn
          = link_to '渋谷(31)', class: 'btn'
        .btn
          = link_to '蔦屋書店(7)', class: 'btn'
        .btn
          = link_to 'NENDO(16)', class: 'btn'
        .btn
          = link_to '中国(45)', class: 'btn'
        .btn
          = link_to 'TDW(19)', class: 'btn'