.Runking
  .Runking__Heading
    アクセスランキング
  .Runking__ProjectBox
    .Runking__Picture
    = image_tag "/assets/7.jpg", alt: "image", class: 'Runking-Pic'
    .Runking__num
      １
    .Runking__Text
      .Runking__Text__Heading
        失敗しない！マリーナベイ
        %br/
        サンズの楽しみ方
        %br/
        (ディテール編)
      .Runking__Text__Writer
        中村亮太
  .Runking__ProjectBox
    .Runking__Picture
    = image_tag "/assets/8.jpg", alt: "image", class: 'Runking-Pic'
    .Runking__num
      ２
    .Runking__Text
      .Runking__Text__Heading
        台湾・新竹市の図書館コン
        %br/
        ペ、平田晃久チームが「知
        %br/
        の峡谷」で最優秀に
      .Runking__Text__Writer
        Archi-TV
  .Runking__ProjectBox
    .Runking__Picture
    = image_tag "/assets/9.jpg", alt: "image", class: 'Runking-Pic'
    .Runking__num
      ３
    .Runking__Text
      .Runking__Text__Heading
        東京アパートメント（藤本
        %br/
        壮介事務所）で見学会が開
        %br/
        催
      .Runking__Text__Writer
        Satochi-Chan
  .Runking__ProjectBox
    .Runking__Picture
    = image_tag "/assets/10.jpg", alt: "image", class: 'Runking-Pic'
    .Runking__num
      ４
    .Runking__Text
      .Runking__Text__Heading
        MVRDV設計のY HOUSE
        %br/
        がやっぱりすごい
        %br/
      .Runking__Text__Writer
        わだこうへいた
  .Runking__ProjectBox
    .Runking__Picture
    = image_tag "/assets/11.jpg", alt: "image", class: 'Runking-Pic'
    .Runking__num
      ５
    .Runking__Text
      .Runking__Text__Heading
        ZAHA Architectureなどを抑えて日建設計が当選
      .Runking__Text__Writer
        NIKKEN.com
  .Runking__ProjectBox
    .Runking__Picture
    = image_tag "/assets/12.jpg", alt: "image", class: 'Runking-Pic'
    .Runking__num
      ６
    .Runking__Text
      .Runking__Text__Heading
        100者の応募を制したのはパーシモンヒルズ、岩手県住田町の公民館プロポ
      .Runking__Text__Writer
        Poten-Poten
  .Recommend_Heding
    おすすめカテゴリー
  .Recommend_Category
    = form_with local: true do |f|
      = f.submit '東京都(165)', class: 'btn'
      = f.submit '伊東豊雄(24)', class: 'btn'
      = f.submit 'コンペ(83)', class: 'btn'
      = f.submit 'OMA(46)', class: 'btn'
      = f.submit '渋谷(31)', class: 'btn'
      = f.submit '蔦屋書店(7)', class: 'btn'
      = f.submit 'NENDO(16)', class: 'btn'
      = f.submit '中国(45)', class: 'btn'
      = f.submit 'TDW(19)', class: 'btn'