.IntroTemple
  .UserInfo
    .UserInfo__icon
      = image_tag "/assets/27.png", alt: "image", class: 'UserInfo__icon'
      = @icon
    .UserInfo__name
      = @name
    .UserInfo__Text
      ここは自己紹介文を入力するところです。ここは自己紹介文を入力するところです。ここは自己紹介文を入力するところです。ここは自己紹介文を入力するところです。ここは自己紹介文を入力するところです。ここは自己紹介文を入力するところです。
      = @text
      .UserInfo__contents
  .Posts
    -# = link_to "/people/#{current_person.id}"
    .PostsIndex
    = link_to "/people/#{current_person.id}", class: "post-index" do
      投稿一覧
    = link_to new_topic_path do
      新規投稿
    = link_to fab_people_path, class: "fab-index" do
      お気に入り