%header
= render "main/header"
.Fab
  .FabSection
    = render "introduction"
    .Section
      .Section_Box
      - @topics.each do |topic|
        - if @like
          .PickUp__ProjectBox
            = link_to topic_path(topic.id) do
              = image_tag topic.image.url, class: "PickUp-Pic"
            .PickUp__Text
              = link_to topic_path(topic.id), class: "PickUp" do
                = topic.title
              .PickUp__Text__Letter
                = topic.description
        -#       .SubItems
                -# - if person_signed_in? && current_user.id == topic.person_id
                -# .SubItems__detail
                -#   = link_to '詳細', topic_path(topic.id), method: :get
                -# .SubItems__delete
                  -#   = link_to '削除', topic_path(topic.id), method: :delete, data: {confirm: "本当に削除しますか?"}


  .RightSide
    = render "main/recommended"

%footer
= render "main/footer"