%header
= render "main/header"
.Section
  .Section_Box
    .UserInfo
      .UserInfo__icon
        S
        = @icon
      .UserInfo__name
        = @name
        中村慧睦
        .UserInfo__contents
    .Posts
      .PostsIndex
        投稿一覧
      .NewPosts
        = link_to '新規投稿', new_topic_path
    .PickUp__ProjectBox
      = link_to image_tag("/assets/4.jpg", alt: "image", class: 'PickUp-Pic'), topics_path
      .PickUp__Text
        = link_to topics_path class: "PickUp" do
          【中国】アリババの未来型ホテルが開業。
          %br/
          どこでも「顔パス」で上機嫌。
        .PickUp__Text__Letter
          アリババグループが2年半に渡って温めてきた近未来方ホテルが
          %br/
          ついに開業した。本所在地の…
        .PickUp__Text__Writer
          中村慧睦
        .SubItems
          -# - if people_signed_in? && current_user.id == topic.people_id
          .SubItems__edit
            = link_to '編集'
          .SubItems__detail
            = link_to '詳細'
          .SubItems__delete
            = link_to '削除'


  .RightSide
    = render "main/runking"




-#       .Contents
        -# - @topics.each do |topic|
          -# .MyPage
          -#   .MyPage__Top
              投稿者
              -# .SubName
            -#     = link_to topic.people.name
            -#   .SubItems
            -#     - if people_signed_in? && current_user.id == topic.people_id
            -#       .SubItems__edit
            -#         = link_to '編集', edit_topic_path(topic.id), method: :get
            -#       .SubItems__detail
            -#         = link_to '詳細', topic_path(topic.id), method: :get
            -#       .SubItems__delete
            -#         = link_to '削除', topic_path(topic.id), method: :delete, data: {confirm: "本当に削除しますか?"}
            
            -# .Content
            -#   .Content__Image
            -#     = link_to topic_path(topic.id) do
            -#       = image_tag "#{article.image}"
            -#   .Content__Title
            -#     = link_to topic.title , topic_path(topic.id), method: :get
            -#   .Content__Description
            -#     = link_to topic.description , topic_path(topic.id), method: :get
