%header
= render('main/header')
.NewTopic
  .NewTopic__page
    記事の編集
  .NewTopic__form
    -# = form_for @topic do |f|
    = form_with(model: @topic, local: true) do |f|
      .FormBox
        トップ画を選んでください
        .ImageLogo
          = f.label :image, class: 'ImageLogo__image' do
            = icon('far', 'image', class: 'ImageLogo__icon')
            = f.file_field :image, class: 'file'
        .FormBox__label--normal
          = f.label :タイトル
        .FormBox__input--normal
          = f.text_field :title
        .FormBox__label--normal
          = f.label :見出し
        .FormBox__input--normal
          = f.text_area :heading
        .FormBox__label--normal
          = f.label :本文
        .FormBox__input--normal
          = f.text_area :description, rows: 10
      .action
        = f.submit '更新する'
      .return
        = link_to '戻る', :back