%h3 タグリスト
- @tag_list.each do |list|
  %span
    = link_to list.tag_name, tag_posts_path(tag_id: list.id)
    = "(#{list.posts.count})"
　
%hr/
　
%h3 投稿する
= form_with(model: @topic, url: topics_path, local: true) do |f|
  = f.text_area :content
  %br/
  = "スペースを入力することで複数のタグを付けることができます。"
  = "例：音楽 文芸 スポーツ"
  = f.text_field :tag_name
  %br/
  = f.submit
　
%hr/
　
%h3 投稿一覧
- @topics.each do |topic|
  -# = link_to topic.content, topic