%header
= render('main/header')
.NewTopic
  .NewTopic__page
    新規投稿
  .NewTopic__form
    = form_with(model: @topic, url: topics_path, local: true) do |f|
      .FormBox
        トップ画を選んでください
        .ImageLogo
          = f.label :image, class: 'ImageLogo__image' do
            = icon('far', 'image', class: 'ImageLogo__icon')
            = f.file_field :image, class: 'file'
        .FormBox__label--normal
          = f.label :タイトル
        .FormBox__input--normal
          = f.text_field :title, placeholder: "タイトルを入れてください(30文字以内)"
        .FormBox__label--normal
          = f.label :見出し
        .FormBox__input--normal
          = f.text_area :heading, placeholder: "見出しを入れてください(140文字以内)"
        .FormBox__label--normal
          = f.label :本文
        .FormBox__input--normal
          = f.text_area :description, rows: 10, placeholder: "本文を入れてください"
        = f.submit '投稿する'
      .return
        = link_to '戻る', :back
        -# = link_to article.description , article_path(article.id), method: :get

%footer
= render "main/footer"