%header
= render "main/header"


.Topics
  .Detail
    .TopicsBox
      .ConceptBox__Fabo
        .ConceptBox__star
          = icon('fas', 'star')
          = @like_count
          お気に入り
      .TopicsBox__Hedding
        .TopicsBox__Picture
          = image_tag (@topic.image_url), class: 'Topics-Pic'
        .TopicsSec
          .TopicsBox__Title
            = @topic.title
          .TopicsBox_Text
            = @topic.heading
            .Favorite
            - if current_person.already_liked?(@topic)
              .Fav-btn
                = link_to "お気に入りを取り消す", topic_likes_path(@topic), method: :delete, class: 'fav-btn', remote: true
            - else
              .Fav-btn
                = link_to "★お気に入りに追加", topic_likes_path(@topic), method: :post, class: 'fav-btn', remote: true

    .Text
      .Text_Detail
        %span
        = markdown(@topic.description).html_safe

    -# .Tags
    -#   .Tag
    -#     = @tag_list.each do |list|
    -#   %span
    -#     = link_to list.tag_name, tag_topics_path(tag_id: list.id)
    -#     = "(#{list.topics.count})"

    .Tags
      .Tag
    - @topic_tags.each do |tag|
      "タグ: "
    %span

      -# = link_to tag.tag_name, tag_topics_path(tag_id: tag.id)
      -# = "(#{tag.topics.count})"

      .Detail_Heading
      -#   関連するタグ
      -# .Detail_Border
      .Recommend_list
        = form_with local: true do |f|
          .Recommend_btn


  .RightSide
    .wrapper
    = render "writers/profile"
    = render "main/recommended"

%footer
= render "main/footer"