.Body
  .Contents
    .Ivent
      ケンチクイベント
    .WhatDay
      今日は何の日
    .Feature
      特集
    .Serialization
      連載
    .NewArrival
      新着情報
    .NewArchitecture
      新建築
    .Recommended
      編集部のおすすめ
    .House
      住宅
    .Library
      図書館
    .Museum
      美術館
    .Hotel
      ホテル
    .CityHall
      市庁舎
    .Commarce
      商業施設
    .Renovation
      リノベーション
    .Conversion
      コンバージョン
  .PickUp
    .PickUp__Heading
      2020年01月19日のピックアップ
    .PickUp__ProjectBox
      .PickUp__Picture
      .PickUp__Text
        .PickUp__Text__Heading
          【渋谷】渋谷スクランブルスクエア
          %br/
          渋谷駅に直結した複合施設型超高層ビル
        .PickUp__Text__Letter
          2014年から工事が続いていた渋谷駅直結の超高層ビルの第1期
          %br/
          工事がついに竣工した。設計には…
        .PickUp__Text__Writer
          Archi Log
    .PickUp__ProjectBox
      .PickUp__Picture
      .PickUp__Text
        .PickUp__Text__Heading
          【中国】アリババの未来型ホテルが開業。
          %br/
          どこでも「顔パス」で上機嫌。
        .PickUp__Text__Letter
          アリババグループが2年半に渡って温めてきた近未来方ホテルが
          %br/
          ついに開業した。本所在地の…
        .PickUp__Text__Writer
          アイロンヘッド
    .PickUp__ProjectBox
      .PickUp__Picture
      .PickUp__Text
        .PickUp__Text__Heading
          【新豊洲】2020年日本建築学会賞作品賞
          %br/
          『道の駅 ましこ』MOUNT FUJI ARCHITECTS STUDIO
        .PickUp__Text__Letter
          MOUNT FUJI ARCHITECTS STUDIOが2020年建築学会賞作品賞
          %br/
          を受賞した。道の駅という…
        .PickUp__Text__Writer
          4時は夢中
    .PickUp__ProjectBox
      .PickUp__Picture
      .PickUp__Text
        .PickUp__Text__Heading
          【渋谷】渋谷パルコがオープン。設計は竹中工務店、
          %br/
          空中階の設計には藤本壮介建築設計事務所が担当。
        .PickUp__Text__Letter
          再開発が進んでいる渋谷に新たな商業施設が新規
          %br/
          オープンした。…
        .PickUp__Text__Writer
          塩大地
  .Runking
    .Runking__Heading
      アクセスランキング
    .Runking__ProjectBox
      .Runking__Picture
      .Runking__Text
        .Runking__Text__Heading
          失敗しない！マリーナベイ
          %br/
          サンズの楽しみ方
          %br/
          (ディテール編)
        .Runking__Text__Writer
          中村亮太
    .Runking__ProjectBox
      .Runking__Picture
      .Runking__Text
        .Runking__Text__Heading
          台湾・新竹市の図書館コン
          %br/
          ペ、平田晃久チームが「知
          %br/
          の峡谷」で最優秀に
        .Runking__Text__Writer
          Archi-TV
    .Runking__ProjectBox
      .Runking__Picture
      .Runking__Text
        .Runking__Text__Heading
          失敗しない！マリーナベイ
          %br/
          サンズの楽しみ方
          %br/
          (ディテール編)
        .Runking__Text__Writer
          中村亮太
    .Runking__ProjectBox
      .Runking__Picture
      .Runking__Text
        .Runking__Text__Heading
          東京アパートメント（藤本
          %br/
          壮介事務所）で見学会が開
          %br/
          催
        .Runking__Text__Writer
          Satochi-Chan
    .Runking__ProjectBox
      .Runking__Picture
      .Runking__Text
        .Runking__Text__Heading
          MVRDV設計のY HOUSE
          %br/
          がやっぱりすごい
          %br/
        .Runking__Text__Writer
          わだこうへいた
    .Runking__ProjectBox
      .Runking__Picture
      .Runking__Text
        .Runking__Text__Heading
          ZAHA Architectureなどを抑えて日建設計が当選
        .Runking__Text__Writer
          NIKKEN.com
    .Runking__ProjectBox
      .Runking__Picture
      .Runking__Text
        .Runking__Text__Heading
          100者の応募を制したのはパーシモンヒルズ、岩手県住田町の公民館プロポ
        .Runking__Text__Writer
          Poten-Poten
    .Recommend_Hedding
      おすすめカテゴリー
    .Recommend_Category
      = form_with local: true do |f|
        = f.submit '東京都(165)', class: 'btn'
        = f.submit '伊東豊雄(24)', class: 'btn'
        = f.submit 'コンペ(83)', class: 'btn'
        = f.submit 'OMA(46)', class: 'btn'
        = f.submit '渋谷(31)', class: 'btn'
        = f.submit '蔦屋書店(7)', class: 'btn'
        = f.submit 'NENDO(16)', class: 'btn'
        = f.submit '中国(45)', class: 'btn'
        = f.submit 'TDW(19)', class: 'btn'